@model IEnumerable<ToDo_App.Models.To_Do_Iteam>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="fw-bold f-22px text-decoration-none">Add New ToDo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
